
h1{
    color: red;
    font-size: 18px;
    

}

body{
    background-color: lightblue;

}

h5{
    color: #DFFF00; 
    font-size: 18px; 
}

p{
    color: blue;
    height: 10px;
    
  

}